.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  background-color: var(--light-black);
}

.banner::after {
  position: absolute;
  content: "";
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../../images/banner-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.banner__h1 {
  margin: 8.25vh 0 0 0;
  z-index: 1;
}

.banner__sub-h {
  margin: 2.95vh 0 0 0;
  font-size: 1.875rem;
  text-align: center;
  z-index: 1;
  color: var(--white);
}

.banner__mid {
  display: flex;
  margin: 0.75rem 0 0 0;
  max-width: 96rem;
  width: 100%;
  z-index: 3;
}

/* yt-card */
.yt-card {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 1.625rem;
  background: linear-gradient(180deg, #062b2e 0%, #17868d 50.52%, #17868d 100%);
  border-radius: 1rem;
  color: var(--white);
  width: fit-content;
}

.yt-card__img {
  width: 4.25rem;
  height: 4.25rem;
  border: 1px solid var(--golden);
  border-radius: 100%;
  background-image: url("../../icons/yt-plain.svg"),
    linear-gradient(180deg, #dec173 0%, #a77e42 100%);
  background-position: center;
  background-repeat: no-repeat;
  flex: 0 0 auto;
}

.yt-card__text {
  margin: 0 0 0 1.5rem;
  font-size: var(--text-s);
}

/* btn-card */
.btn-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: min-content;
  position: relative;
}

.banner__btn-card {
  margin: 2rem auto;
}

.btn-card__btn {
}

.btn-card__text {
  margin: 1rem 0 0 0;
  text-align: center;
  font-size: 0.75rem;
  color: var(--white);
}

.btn-card__arrow {
  position: absolute;
  right: 0;
  transform: translateX(100%) rotate(8.7deg);
}

/* adv-card */
.adv-card {
  position: relative;
  background: linear-gradient(
    348deg,
    #f0d68380 6.97%,
    #7b3f0a80 95.39%
  );
  padding: 4.25rem 3.5rem 13.75vh 3.5rem;
  border-radius: 1.25rem;
  width: fit-content;
}

.adv-card::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  background: linear-gradient(-93deg, #9f734c 0%, #f0d683 100%);
  border-radius: 1.25rem;
  opacity: 0.5;
}

.adv-card__text {
  margin: 2em 0 0 0;
  font-size: 1.125rem;
  color: var(--white);
  text-align: center;
}

.adv-card__text:first-child {
  margin-top: 0;
}

/* achieves */
.banner__achieves {
  max-width: 96rem;
  width: 100%;
  z-index: 1;
}

.achieves {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  font-size: var(--text-m);
  background-color: var(--light-black);
  border-radius: 2.625rem;
  row-gap: 2.5rem;
  column-gap: 3rem;
}

.achieves::after {
  position: absolute;
  content: "";
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  top: 9px;
  left: 9px;
  border-radius: 2.625rem;
  background-color: var(--light-black);
  z-index: -1;
}

.achieves::before {
  position: absolute;
  content: "";
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 8px;
  left: 8px;
  border-radius: 2.625rem;
  z-index: -5;
  border-radius: 2.625rem;
  background: linear-gradient(
    90deg,
    #ba945e 13%,
    #d1b16e 28.000000000000004%,
    #e2c579 42%,
    #ecd180 56.00000000000001%,
    #f0d683 70%,
    #e7cc7d 75%,
    #d2b16e 84%,
    #af8757 95%,
    #9f734c 100%
  );
}

/* achieves item */
.achieves__item {
  text-align: center;
}

.achieves__item_hidden{
  opacity: 0;
  transition: opacity 1.25s, transform 1s;
  transform: translateY(-10%);
}

.achieves__item_shown{
  opacity: 1;
  transform: translateY(0);
}

.achieves__item:nth-child(1) {
  transition-delay: 0.25s;
}

.achieves__item:nth-child(2) {
  transition-delay: 0.5s;
}

.achieves__item:nth-child(3) {
  transition-delay: 0.75s;
}

.achieves__item:nth-child(4) {
  transition-delay: 1s;
}

.achieves__item:nth-child(5) {
  transition-delay: 1.25s;
}

.achieves__item:nth-child(3) {
}

.achieves__number {
  font-family: var(--font-secondary);
  font-size: 4em;
  color: var(--golden);
  line-height: 100%;
  letter-spacing: 0.05em;
}

.achieves__text {
  color: var(--white);
}

/* imgs */
.banner__lamp {
  object-fit: cover;
  z-index: 100;
  position: absolute;
  bottom: 4.5rem;
  right: 0;
  z-index: 2;
}

.banner__sofa {
  margin: -15vh 0 0 0;
  z-index: 3;
  max-width: 96rem;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .achieves {
    font-size: var(--text-xs);
  }

  .banner__lamp{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  /* cards */
  .banner__mid {
    display: grid;
    position: relative;
  }

  .btn-card {
    place-content: center;
    justify-self: center;
    grid-column: span 2;
    justify-content: center;
  }

  .banner__yt-card {
    order: 1;
    justify-self: center;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    padding: 1.625rem 0.75rem;
  }

  .banner__adv-card {
    justify-self: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    padding: 3.25rem 1.625rem 13.75vh 1.625rem;
  }

  .achieves {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 534px) {
  .banner::after {
    height: 100%;
    background-size: 300% 65%;
    background-position: 0 0;
  }

  .banner__sub-h {
    font-size: var(--text-m);
  }

  .banner__mid {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  .achieves {
    width: fit-content;
    flex-flow: column;
  }

  .banner__sofa {
    margin-top: 1.5rem;
  }
}
